workflows/daily-weather-email.json
{
  "name": "Daily Weather Email",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "queryParametersUi": {
          "parameter": [
            { "name": "latitude", "value": "52.52" },
            { "name": "longitude", "value": "13.41" },
            { "name": "current_weather", "value": "true" }
          ]
        }
      },
      "name": "Get Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "functionCode": "const weather = $json.current_weather;\nconst summary = `Current temperature: ${weather.temperature}°C`;\nreturn [{ json: { subject: 'Daily Weather', body: summary } }];"
      },
      "name": "Format Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "fromEmail": "TODO@example.com",
        "toEmail": "TODO@example.com",
        "subject": "={{$json['subject']}}",
        "text": "={{$json['body']}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1140, 300],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "TODO"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Get Weather", "type": "main", "index": 0 }]]
    },
    "Get Weather": {
      "main": [[{ "node": "Format Email", "type": "main", "index": 0 }]]
    },
    "Format Email": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  }
}
